/* core/static/core/css/style.css */

body, html
{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar-nav {
    justify-content: center;
    margin: 0 auto; /* Center the navbar links horizontally */
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
   
    
  }
  .dropdown-item {
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

  }
  
  .dropdown-item:hover {
    background-color: #1BFD9C;
    border-radius: 5px;

    color: #212529;
  }

  /* navbar Button */
  .btn-outline-primary {
    --green: #1BFD9C;
    font-size: 16px;
    padding: 0.7em 2.7em;
    letter-spacing: 0.06em;
    position: relative;
    font-family: inherit;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--green);
    background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%,transparent 60% , rgba(27, 253, 156, 0.1) 100%);
    color: var(--green);
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
  }
  
  button:hover {
    color: #82ffc9;
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
  }
  
  button:before {
    content: "";
    position: absolute;
    left: -4em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform .4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%,rgba(27, 253, 156, 0.1) 60% , transparent 100%);
  }
  
  button:hover:before {
    transform: translateX(15em);
  }




  .navbar-brand {
    font-family: 'Open Sans', sans-serif; /* Use the Open Sans font family */
    font-weight: bold; /* Make the text bold */
    font-size: 24px; /* Set the font size to 24px */
    color: #212529; /* Set the text color to a dark gray */
    text-decoration: none; /* Remove any underline from the text */
    text-transform: uppercase;
  }

  /* Center the notification button */
#loginNotification {
 
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  background-color: #dff0d8;
  color: #3c763d;
}


/* Resize the notification button */
#loginNotification .btn-outline-primary {
    font-size: 14px; /* Adjust the font size as needed */
    padding: 5px 10px; /* Adjust the padding as needed */
}